:root {
  --primary-color: #3498db;
  --secondary-color: black;
  --font-size: 16px;
  --heading-font-size: 32px;
  --margin: 10px;
  --min-font-size: 1rem;
  --max-font-size: 1.5rem;
  --min-viewport-width: 400px;
  --max-viewport-width: 900px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: var(--secondary-color);
}

main {
  grid-column-gap: 24px;
  grid-template-columns: 4.25fr;
  max-width: 1300px;
  margin: .8rem auto 4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: var(--secondary-color);
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}

hr {
  width: 40%;
  margin: 100px auto 0;
  border-color: rgba(255, 255, 255, 0.1);
}

